div.header {
    height: 32vw;
    min-height: 250px;
}

#head-img {
    position: absolute;
    width: 125%;
    top: -35vw;
    min-height: 250px;
}

div.header h1 {
    text-align: center;
    line-height: 32vw;
    font-size: 8vw;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 32vw;
    margin-left: -1px;
    min-height: 250px;
}

@supports (-webkit-text-stroke: 3px black) {
    div.header h1 {
        -webkit-text-stroke: 3px black;
        -webkit-text-fill-color: white;
    }
}

@media only screen and (max-width: 768px) {
    div.header {
        height: 500px;
        background: url(../img/dbf.jpg) no-repeat;
        background-size: 800px;
    }

    div.header img {
        display: none;        
    }
    
    div.header h1 {
        overflow: auto;
        white-space: normal;
        font-size: 5em;
        height: 500px;
        line-height: 1.25em;
        padding: 100px 30px;
    }
}