@import url('https://fonts.googleapis.com/css?family=Raleway:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: block;
    overflow: auto;
}

a {
    color: #164fc9;
    text-decoration: none;
}

a:hover {
    color: #5e8eff;
}

.header {
    width: 100%;
    height: 80px;
    position: relative;
    background: #1965e0;
    overflow: hidden;
}

.header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Lato", sans-serif;
}

.topnav {
    width: 100%;
    background-color: #164fc9;
    overflow: hidden;
    z-index: 1000;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px 12px 8px;
    text-decoration: none;
    font-size: 15px;
}

.dropdown {
    display: none;
    position: absolute;
    margin: 0;
    background-color: #313131;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1000;
}

.dropdown ul {
    list-style-type: none;
}

.dropdown ul li {
    float: none;
    display: block;
}

.dropdown a {
    min-width: 150px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown ul li a.active {
    background-color: #5a5a5a;
}

.dropdown ul li a:hover {
    background-color: #757575;
}

.topnav li:hover .dropdown {
    display: block;
}

.topnav i {
    width: 25px;
    text-align: center;
}

.topnav a:hover {
    color: white;
    background-color: #5e8eff;
}

.topnav a.active {
    background-color: #1a6bed;
}

.topnav .burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(.active) {
        display: none;
    }

    .topnav {
        position: relative;
    }
    
    .topnav a.burger {
        float: right;
        display: block;
        padding: 12px;
    }
    
    .topnav.responsive a.burger {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive li {
        float: none;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav a.active {
        background-color: #164fc9;
    }
    
    .topnav.responsive a.active {
        background-color: #1a6bed;
    }

    .topnav.responsive .extra {
        display: none;
    }

    a:hover .dropdown {
        display: none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, .2);
}

.content {
    width: 100%;
    padding: 10px 0 280px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    font-family: "Lato", sans-serif;
    background: #1965e0;
    color: white;
    text-align: center;
}

.foot-wrap {
    margin: 0;
    height: 75px;
}

.foot-row {
    margin: 5px 0;
}

.foot-row a {
    text-decoration: none;
    color:white;
}

.foot-row a:hover {
    color: rgb(185, 185, 185);
}

.foot-row u {
    text-decoration: none;
    border-bottom: 1.5pt dashed;
}

.foot-row i {
    width: 28px;
    text-align: center;
}

.foot-img {
    width: 100%;
    margin: 10px auto;
}

.footer img {
    height: 75px;
    width: auto;
}

.notice-row {
    margin: 0 15px;
}

.notice {
    display: table;
    background: #FF6156;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

.notice i {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    padding: 5px;
    width: 25px;
}

.notice p {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    text-align: left;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 600px) {
    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33%; }
    .col-s-11 { width: 91.66%; }
    .col-s-12 { width: 100%; }
}

@media only screen and (min-width: 768px) {
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
    
    .content {
        padding: 10px 30px 60px 30px;
    }

    .notice-row {
        margin: 0;
    }

    a.extra {
        display: none;
    }

    .content {
        padding-bottom: 110px;
    }

    .footer {
        text-align: left;
    }

    .foot-wrap {
        width: auto;
        margin: 12.5px;
    }

    .foot-img {
        float: right;
        width: auto;
        margin: 12.5px 2%;
    }

    .footer img {
        float: right;
        height: 75px;
        width: auto;
    }
}